
<ul class="media-list">
    {% for post in posts %}
    <li class="media" style="padding:4px;">
            <a class="pull-left" href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail media-object" src="{{ post.author.gravatar(size=40) }}">
            </a>


          <div class="media-body">

            <div class="media-heading"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a><div class="pull-right">{{ moment(post.timestamp).fromNow() }}</div></div>
              {% if post.body_html %}
            {{ post.body_html | safe }}
            {% else %}
            {{ post.body }}
            {% endif %}
            <div class="pull-right">
              {% if current_user == post.author %}
              <a href="{{url_for('.edit',id=post.id)}}"><span class="label label-default">Edit</span></a>
              {% elif current_user.is_administrator() %}
              <a href="{{url_for('.edit',id=post.id)}}"><span class="label label-default">Edit[ADMIN]</span></a>
              {% endif %}

              <a href="{{url_for('.post',id=post.id)}}"><span class="label label-default">Permalink</span></a>
              <a href="{{ url_for('.post',id=post.id)}}#comments"><span class="label label-primary">{{ post.comments.count()}} Comments </span></a>
              {% if current_user.can(Permission.MODERATE_COMMENTS) %}
              <a href="{{ url_for('.moderate')}}"> <span class="label label-default">Moderate Comments</span></a>
              {% endif %}
            </div>
          </div>


    </li>
    {% endfor %}
</ul>
